/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.top-banner {
    background-image: url("images/shape1.png");
    background-size: 100px;
    background-repeat: no-repeat;
}

.btn-box {
    margin-top: 25px;
}

.btn-colorful {
    background-color: #FF6B6B;
    color: white;
    text-decoration: none;
    padding: 15px 10px;
    border-radius: 7px;
}

.purple-heading {
    color: #FF6B6B;
    font-size: 28px;
    font-weight: 600;
}

.half-width img {
    height: 500px;
    object-fit: cover;
    max-width: 100%;
}

.highlight {
    color: #FF6B6B;
    font-weight: bold;
}

ul {
    margin-top: 20px;
}

ul li {
    list-style: none;
}